---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
 
const allPosts = await getCollection('blog');
 
---
 
<Layout title="Welcome to Astro.">
  <main class="flex flex-col">
    {allPosts.map((post) => <a href={'/blog/' +post.slug}>{post.data.title}</a>)}
  </main>
</Layout>