---
import { getCollection } from 'astro:content';
import siteMetadata from '../data/siteMetadata';
const allPosts = await getCollection('blog');
console.log(allPosts.length);
---

<div class='items-center 2xl:max-w-7xl max-w-6xl md:px-12 mx-auto lg:px-8 px-4'>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4'>
    {
      allPosts.map((post) => (
        <article class='h-full flex-1'>
          <div class='w-full block lg:col-span-2'>
            {post.data.cover !== undefined ? (
              <img
                src={post.data.cover.src}
                class='h-full object-cover aspect-[384/246] bg-center'
                alt="The Time Traveler's Notebook"
              />
            ) : (
              <div class='h-full object-cover aspect-[384/246] bg-center bg-amber-100' />
            )}
          </div>
          <div class='w-full flex flex-col items-start justify-between -mt-20 p-4'>
            <div class='w-full p-4 lg:p-8 bg-wood-100 h-full flex flex-col justify-between text-balance'>
              <div>
                <p class='font-medium text-black uppercase text-xl'>
                  <a href={'/blog/' + post.slug}>{post.data.title}</a>
                </p>
                <p class='text-slate-600 line-clamp-2 mt-12 text-sm'>
                  {post.data.excerpt}
                </p>
              </div>
              <div class='items-center inline-flex mt-1 space-x-1'>
                <p class='font-medium text-gray-900 text-xs'>emmanuelhd</p>
                <span aria-hidden='true'>·</span>
                <div class='flex text-gray-500 text-xs'>
                  <time datetime='Wed Jan 03'>{post.data.date}</time>
                </div>
              </div>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</main>
